{{#if item}}
    <h1>Welche Elemente möchten Sie bearbeiten?</h1>
{{else}}
    <h1>Was für ein Element wollen Sie erstellen?</h1>
{{/if}}

<div class="itemform">
    <form action="/item/update" method='post'>
        <label for="id"></label>
        <input type="text" id="id" name="id" value="{{ item._id }}" hidden>
        <label for="name">ToDo Name</label>
        <input type="text" id="name" name="name" value="{{ item.name }}" required>
        <label for="importance">Importance</label>
        <input type="range" id="importance" name="importance" min="1" max="5" value ="{{ item.importance }}" required>
        <label for="duedate">DueDate</label>
        <input type="date" id="duedate" name="duedate" required value="{{ item.duedate }}">
        <label for="checkbox">Abgeschlossen</label>
            <input type="checkbox" id="checkbox" name="itemstate" value="true" {{#if item.isdone}} checked="true" {{else}} {{/if}}">
        <label for="description">Description</label>
        <input type="text" id="description" name="description" value ="{{ item.description }}" required>

             <div>
                {{#if item}}
                    <button type="submit" formaction="/item/{{ item._id }}" id="update">Update</button>
                    <button type="submit" formaction="/updateandoverview" id="create">Update & Overview</button>
                {{else}}
                    <button type="submit" formaction="/item" id="create">Create</button>
                    <button type="submit" formaction="/createandoverview" id="create">Create & Overview</button>
                {{/if}}
            </div>
        </form>

        <form class="sort-buttons">
            <button type="submit" formaction="/" formmethod="get">Overview</button>
        </form>
</div>
